import { Store } from "../store"
class {
    mobxObservable(){}
    onCreate() {
        this.renderCount = 0
    }
    onRender() {
        this.renderCount++
    }
    onMount() {
        window.viewOne = this
    }
}
div.view-one key="view-one" -- ${Store.valueOne}